extends layout
block content
 h1= title
 - let LunchBoxid = toShow._id
 - let LunchBox_name = toShow.LunchBox_name
 - let LunchBox_price  = toShow.LunchBox_price 
 - let LunchBox_size = toShow.LunchBox_size
 div
 div.row
 div(class='LunchBoxAttr mr-3') LunchBox ID is:
 div #{LunchBoxid}
 div.row
 div(class='LunchBoxAttr mr-3') LunchBox Name is:
 div #{LunchBox_name}
 div.row
 div(class='LunchBoxAttr mr-3') LunchBox Price is:
 div #{LunchBox_price}
 div.row
 div(class='LunchBoxAttr mr-3') LunchBox Size is:
 div #{LunchBox_size}