extends layout

block content
  h1= title
  - let create = `buy(\"/LunchBox/create\")` 
  button.btn(class="btn-primary m1-1", onclick=create) Create 
  - let result  = results;
  div(class="container-fluid")
  div(class="row m-1")
   each value,index in results
    - let destination = `buy(\"/LunchBox/update?id=${value._id}\")`
    - let detail = `buy(\"/LunchBox/detail?id=${value._id}\")`
    - let del = `buy(\"/LunchBox/delete?id=${value._id}\")`
    //-div(class="col-sm-2" onclick=`buy(${index})`)  #{value.LunchBox_name}, #{value.LunchBox_price}, #{value.LunchBox_size}
    div(class="row-sm-2", class="m-1")  #{value.LunchBox_name}, #{value.LunchBox_price}, #{value.LunchBox_size}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
      button.btn( class="btn-primary ml-1", onclick= detail) Detail
      button.btn( class="btn-primary ml-1", onclick= del) Delete
   script.
    function buy(path)
    {
     //- alert(`Your purchased Item ${index+1}`)
     window.location.href=path
    }
    